@model MVC_Completo.Models.Produto

@{
    ViewData["Title"] = "Detalhes do produto";
    Layout = "_Layout";
}

<<h1>Detalhes do produto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label for="model.Nome">Nome</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            <label for="model.Descricao">Descrição</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            <label for="model.Valor">Valor</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>